flows.json
[
    {
        "id": "3af82246.3634ae",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e563884b9ff10c58",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "07375df286aa788c",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4aa69778a6673ddc",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "56fdd3dbaac6938a",
        "type": "inject",
        "z": "3af82246.3634ae",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 140,
        "wires": [
            [
                "13c108b2edcbd91c"
            ]
        ]
    },
    {
        "id": "eb5b7aa501aa523d",
        "type": "debug",
        "z": "3af82246.3634ae",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 260,
        "wires": []
    },
    {
        "id": "13c108b2edcbd91c",
        "type": "function",
        "z": "3af82246.3634ae",
        "name": "function 1",
        "func": "// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 320,
        "wires": [
            [
                "eb5b7aa501aa523d"
            ]
        ]
    },
    {
        "id": "e36406f2.8ef798",
        "type": "inject",
        "z": "e563884b9ff10c58",
        "name": "",
        "repeat": "300",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "c3c50023.3bbed"
            ]
        ]
    },
    {
        "id": "c3c50023.3bbed",
        "type": "http request",
        "z": "e563884b9ff10c58",
        "name": "Recent Quakes",
        "method": "GET",
        "url": "https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_month.csv",
        "tls": "",
        "x": 320,
        "y": 160,
        "wires": [
            [
                "8afc6cac.e0812"
            ]
        ]
    },
    {
        "id": "8afc6cac.e0812",
        "type": "csv",
        "z": "e563884b9ff10c58",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "x": 490,
        "y": 160,
        "wires": [
            [
                "44779781.4190f8",
                "6f0eb546.9e208c"
            ]
        ]
    },
    {
        "id": "44779781.4190f8",
        "type": "debug",
        "z": "e563884b9ff10c58",
        "name": "",
        "active": true,
        "complete": false,
        "x": 650,
        "y": 160,
        "wires": []
    },
    {
        "id": "6f0eb546.9e208c",
        "type": "switch",
        "z": "e563884b9ff10c58",
        "name": "",
        "property": "payload.mag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "7",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 530,
        "y": 220,
        "wires": [
            [
                "d78d4aa8.8c8208"
            ]
        ]
    },
    {
        "id": "d78d4aa8.8c8208",
        "type": "change",
        "z": "e563884b9ff10c58",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "PANIC!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 280,
        "wires": [
            [
                "72fddece.fac0d"
            ]
        ]
    },
    {
        "id": "72fddece.fac0d",
        "type": "debug",
        "z": "e563884b9ff10c58",
        "name": "",
        "active": true,
        "complete": false,
        "x": 770,
        "y": 220,
        "wires": []
    },
    {
        "id": "c324ee0388eb83e5",
        "type": "http in",
        "z": "07375df286aa788c",
        "name": "",
        "url": "/test",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "ff414549d36fcf2f",
                "cb55ba695a6bd156",
                "5d1da53d4590d1d1",
                "d1cd930c9607b5dc"
            ]
        ]
    },
    {
        "id": "01e257e472d21122",
        "type": "http response",
        "z": "07375df286aa788c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 970,
        "y": 180,
        "wires": []
    },
    {
        "id": "ff414549d36fcf2f",
        "type": "function",
        "z": "07375df286aa788c",
        "name": "data from query string",
        "func": "var payload = {}\n\nif (msg.payload.firstname != null) {\n    payload = { \"message\": \"Hello \" + msg.payload.firstname + \"!\"}\n\n} else {\n    payload = {\"message\" : \"Hello World!\"}\n}\nmsg.payload = payload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 180,
        "wires": [
            [
                "cb55ba695a6bd156"
            ]
        ]
    },
    {
        "id": "cb55ba695a6bd156",
        "type": "debug",
        "z": "07375df286aa788c",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 80,
        "wires": []
    },
    {
        "id": "a00c68f302940602",
        "type": "debug",
        "z": "07375df286aa788c",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 240,
        "wires": []
    },
    {
        "id": "5d1da53d4590d1d1",
        "type": "function",
        "z": "07375df286aa788c",
        "name": "data from body",
        "func": "msg.payload = msg.req.body.firstname;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 300,
        "wires": [
            [
                "a00c68f302940602"
            ]
        ]
    },
    {
        "id": "d1cd930c9607b5dc",
        "type": "function",
        "z": "07375df286aa788c",
        "name": "return the request object",
        "func": "msg.payload = msg.req.body;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 400,
        "wires": [
            [
                "01e257e472d21122"
            ]
        ]
    },
    {
        "id": "58a2ff176e208d1c",
        "type": "inject",
        "z": "4aa69778a6673ddc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "5f75a33c544ed6d5"
            ]
        ]
    },
    {
        "id": "7bca734811081cbb",
        "type": "http request",
        "z": "4aa69778a6673ddc",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://ksppublic-stg.htpsmartsolution.com.my/api/GetParticularNew",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 140,
        "wires": [
            [
                "dc91ff12422d820d",
                "ac115cf42c51a4a1"
            ]
        ]
    },
    {
        "id": "dc91ff12422d820d",
        "type": "debug",
        "z": "4aa69778a6673ddc",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 140,
        "wires": []
    },
    {
        "id": "5f75a33c544ed6d5",
        "type": "function",
        "z": "4aa69778a6673ddc",
        "name": "function 2",
        "func": "// Add the below if the data is in the URL\n//msg.headers = {\n//    'Content-Type': 'application/x-www-form-urlencoded'\n//};\n\n\nmsg.payload = {};\nmsg.payload = {\n    'phoneNo': '+60193577471'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 320,
        "wires": [
            [
                "7bca734811081cbb",
                "dc91ff12422d820d"
            ]
        ]
    },
    {
        "id": "41015be5d70da866",
        "type": "http in",
        "z": "4aa69778a6673ddc",
        "name": "GetParticularNew",
        "url": "/GetParticularNew",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 420,
        "wires": [
            [
                "357df87fc18a1ea3"
            ]
        ]
    },
    {
        "id": "357df87fc18a1ea3",
        "type": "function",
        "z": "4aa69778a6673ddc",
        "name": "function 3",
        "func": "msg.payload = msg.req.body;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 420,
        "wires": [
            [
                "7bca734811081cbb"
            ]
        ]
    },
    {
        "id": "ac115cf42c51a4a1",
        "type": "http response",
        "z": "4aa69778a6673ddc",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 890,
        "y": 380,
        "wires": []
    }
]